$color1:#808080;
$color2:#4519f4cc;
$color3:#0063EA;
$color4:#ffffff;
$color5:#000000;
$texto_t1:15px;
$texto_t2:20px;
$texto_t3:30px;
$texto_t4:40px;
$texto_t5:50px;

*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(to right bottom, rgba(25, 25, 25, 0.8), rgba(71, 25, 255, 0.8)), url(/proyecto_final_juanluman/Multimedia/imagenes_peces/fondo_peces.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.navbar{
    background-image:linear-gradient(rgba(13, 11, 11, 0.912),$color1) !important;
    margin-bottom:$texto_t5;
    .navbar-brand{
        font-size: $texto_t5;
        margin-right: $texto_t4;
        padding: $texto_t2;
    }
    .navbar-collapse{
        font-size: 25px;
        .nav-item{
            margin-right: 60px;
        }
    }

}
.nav-link:hover{
    color: $color4 !important;
}

h1{
    span{
        color: $color2;
    }
}

.contenedor{
    height: 200px;
    border: 2px;
    border-radius: $texto_t1;
    padding: 10px;
    margin-top: $texto_t3;
    margin-bottom: $texto_t3;
    transition: all 0.7s;
    background-size: 90%;
    
}
.contenedor:hover{
    transform: scale(1.05);
}

.footer_home {
    height: 140px;
    width: 100%;
    margin-top: 50px;
    background-image: linear-gradient(rgba(13, 11, 11, 0.912), $color1);
    font-size: $texto_t2;
    color: $color4;
    text-align: center;
    
    .redes {
        font-size: $texto_t3;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; 
        
        i {
            margin:10px; 
            transition: color 0.3s;
        }
    }
}

.fa-brands:hover{
    color:$color2;
}

//HOME
.contenedor{
    h1{
        padding: 10px;
    }
    p{
        padding: 10px;
    }
    &.cont0{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &.cont1{
        background-image: url();
        background-size:contain;
        background-position: center;
        background-repeat: no-repeat;
        border:none;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &.cont2{
        color:$color4;
        text-align: center;
        text-shadow: 3px 3px 6px $color5;
        font-size: 16px;
    }
    &.cont3{
    @extend.cont1;
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/pez-dorado_250.png);
    margin-bottom: $texto_t3;
    margin-top: $texto_t3;
    
    }
    &.cont4{
        @extend.cont2;
    }
    &.cont5{
        @extend.cont1;
        background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/pez-volador_250.png);
        margin-bottom: $texto_t3;
        margin-top: $texto_t3;

    }
    &.cont6{
        @extend.cont2;
    }
    &.cont7{
        @extend.cont2;
        
    }
    &.cont8{
        @extend.cont2;
        text-align: left;
        
    }
}
//PECES
.contenedor2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12,300px);
    background-size: cover;
    background-repeat: no-repeat;
}
.link:hover{
    color: $color4;
}
.itempeces{
    margin-bottom: $texto_t4;
    color: $color4;
    text-shadow: 3px 3px 6px $color5;
    border-radius: 10px;
    transition: all 0.7s;

}
.item1,.item3,.item5,.item7,.item9,.item11{
    box-shadow: 3px 3px 6px $color5;
}
.item1:hover,.item3:hover,.item5:hover,.item7:hover,.item9:hover,.item11:hover{
    filter: sepia(0%);
    transform: scale(1.09);
}

.item1{
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/Corydoras_300.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item2{
    font-size: $texto_t1;
    text-align: center;
}
.item3{
    background-image: url( /proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/guppy_300.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item4{
    font-size: $texto_t1;
    text-align: center;
}
.item5{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/neon-tetra_400.jpg);
}
.item6{
    font-size: $texto_t1;
    text-align: center
}
.item7{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/pez-angel_400.jpg);
}
.item8{
    font-size: $texto_t1;
    text-align: center
}
.item9{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/pez-betta-pecera_400.jpg);
}
.item10{
    font-size: $texto_t1;
    text-align: center
}
.item11{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/camaron_1_300.jpg);
}
.item12{
    font-size: $texto_t1;
    text-align: center;
}

@media screen and (max-width:576px) {
    .contenedor2{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12,300px);
    }
}
@media screen and (min-width:576px){
    .contenedor2{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5,1fr);
        font-size: 12px;
    }
    .item1{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .item2{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .item4{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .item6{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .item7{
        grid-column:2/3;
        grid-row:4/5 ;

    }
    .item8{
        grid-column: 1/2;
        grid-row: 4/5;

    } 
    .item9{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .item10{
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .item11{
        grid-column: 2/3;
        grid-row: 6/7;

    }
    .item12{
        grid-column:1/2;
        grid-row: 6/7;

    }
}

@media screen and (min-width:768px) {
    .contenedor2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: $texto_t2;
    }
    .item1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 1/2;
        grid-row: 2/3;

    }
    .item3{
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .item4{
        grid-column: 2/3;
        grid-row: 2/3;

    }
    .item5{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item6{
        grid-column: 3/4;
        grid-row: 2/3;

    }
    .item7{
        grid-column: 1/2;
        grid-row: 3/4;

    }
    .item8{
        grid-column: 1/2;
        grid-row: 4/5;

    }
    .item9{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .item10{
        grid-column:2/3 ;
        grid-row:4/5;

    }
    .item11{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item12{
        grid-column: 3/4;
        grid-row: 4/5;
    }
}
.contenedor3{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,400px);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 200px;
}
.item_1, .item_2, .item_3, .item_4, .item_5, .item_6 {
    font-size: $texto_t1;
    background-image:linear-gradient(rgb(8, 8, 249),rgb(4, 195, 248));
    color: $color4;
    box-shadow: 3px 3px 6px $color5;
    text-shadow: 3px 3px 6px $color5;
    padding: $texto_t3;
}

.item_1 h2, .item_2 h2, .item_3 h2, .item_4 h2, .item_5 h2, .item_6 h2 {
    text-align: center;
    margin-bottom: $texto_t2;
}

.item_1 ul, .item_2 ul, .item_3 ul, .item_4 ul, .item_5 ul, .item_6 ul {
    text-align: left;
}
@media screen and (min-width:576px) {
    .contenedor3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,auto);
        font-size: $texto_t1;
        

    }
    .item_1{grid-column: 1/2;grid-row: 1/2;}
    .item_2{grid-column: 1/2;grid-row: 2/3;}
    .item_3{grid-column: 1/2;grid-row: 3/4;}
    .item_4{grid-column: 1/2;grid-row: 4/5;}
    .item_5{grid-column: 1/2;grid-row: 5/6;}
    .item_6{grid-column: 1/2;grid-row: 6/7;}

}
@media screen and (min-width:768px) {
    .contenedor3{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,auto);
        grid-gap: $texto_t2;
    }
    .item_1{grid-column: 1/2;grid-row: 1/2;}
    .item_2{grid-column: 2/3;grid-row: 1/2;}
    .item_3{grid-column: 1/2;grid-row: 2/3;}
    .item_4{grid-column: 2/3;grid-row: 2/3;}
    .item_5{grid-column: 1/2;grid-row: 3/4;}
    .item_6{grid-column: 2/3;grid-row: 3/4;}

}
@media screen and (min-width:992px) {
    .contenedor3{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3,auto);
        font-size: $texto_t2;
        grid-gap: $texto_t2;
    }
    .item_1{grid-column: 1/2;grid-row: 1/2;}
    .item_2{grid-column: 2/3;grid-row: 1/2;}
    .item_3{grid-column: 1/2;grid-row: 2/3;}
    .item_4{grid-column: 2/3;grid-row: 2/3;}
    .item_5{grid-column: 1/2;grid-row: 3/4;}
    .item_6{grid-column: 2/3;grid-row: 3/4;}

}


//PECERAS
.contenedor4 {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(6, 300px); 
    background-position: center;
    background-size: cover;
    .item_peceras{
        border: 3px solid $color1;
        background-position: center;
        background-size: cover;
        box-shadow: 3px 3px 6px $color5;
        margin-bottom: $texto_t2;
        transition: all 0.7s;
    }

}
.itempecera2,.itempecera4,.itempecera6{
font-size: $texto_t2;
text-align: center;
background-image:linear-gradient(rgb(8, 8, 249),rgb(4, 195, 248));
color: $color4;
text-shadow: 3px 3px 6px $color5;
}
.itempecera1:hover,.itempecera3:hover,.itempecera5:hover{
    filter: sepia(0%);
    transform: scale(1.09);
}
.itempecera1{
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/pecera_1_400.jpg);
}

.itempecera3{
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/pecera_2_400.jpg);
}

.itempecera5{
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/peceras-decorativas-para-el-hoga_400.jpg);
}

@media screen and (min-width:576px) {
    .contenedor4{
        grid-template-columns: 1fr;
        grid-template-rows:repeat(6,300px);
    }
    
}
@media screen and (min-width:768px){
    .contenedor4{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(3,300px);
    }
    .itempecera2,.itempecera4,.itempecera6{font-size: 22px;}
    .itempecera1{grid-column: 1/2;grid-row: 1/2;}
    .itempecera2{grid-column: 2/3;grid-row: 1/2;}
    .itempecera3{grid-column: 1/2;grid-row: 2/3;}
    .itempecera4{grid-column: 2/3;grid-row: 2/3;}
    .itempecera5{grid-column: 1/2;grid-row: 3/4;}
    .itempecera6{grid-column: 2/3;grid-row: 3/4;}
}
@media screen and (min-width:992px){
    .contenedor4{
        grid-template-columns: 1fr 1fr;
        grid-template-rows:repeat(3,300px);
    }
    .itempecera2,.itempecera4,.itempecera6{font-size: 22px;}

    .itempecera1{grid-column: 1/2;grid-row: 1/2;}
    .itempecera2{grid-column: 2/3;grid-row: 1/2;}
    .itempecera3{grid-column: 1/2;grid-row: 2/3;}
    .itempecera4{grid-column: 2/3;grid-row: 2/3;}
    .itempecera5{grid-column: 1/2;grid-row: 3/4;}
    .itempecera6{grid-column: 2/3;grid-row: 3/4;}
}

.jumbo{
    font-size: $texto_t2;
    box-shadow: 3px 3px 6px $color5;
    text-shadow: 3px 3px 6px $color5;
    h2{
        font-size: $texto_t3;
    }
}
.contenedor5{
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,300px);
    background-position: center;
    background-size: cover;
    .item_peceras2{
        border: 3px solid $color1;
        background-position: center;
        background-size: cover;
        box-shadow: 3px 3px 6px $color5;
        margin-bottom: $texto_t2;
        transition: all 0.7s;
        filter: grayscale(100%);
    }
}
.itempecera_1:hover,.itempecera_3:hover,.itempecera_5:hover{
    filter: sepia(0%);
    transform: scale(1.09);
}
.itempecera_2,.itempecera_4,.itempecera_6{
    font-size: 18px;
    text-align: center;
    color: $color4;
    text-shadow: 3px 3px 6px $color5;
}
.itempecera_1{
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/plantas_10_400.jpg);
}
.itempecera_3{
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/plantas_16_400.jpg);
}
.itempecera_5{
    background-image: url(/proyecto_final_juanluman/Multimedia/imagenes_peces/imagenes_pez_1/plantas_15_400.jpg);
}


@media screen and (min-width:576px) {
    .contenedor5{
        grid-template-columns: 1fr;
        grid-template-rows:repeat(6,300px);
    }
    
}
@media screen and (min-width:768px) {
    .contenedor5{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,300px);
        grid-gap: 10px;
    }
    .itempecera_1{grid-column: 1/2;grid-row: 1/2;}
    .itempecera_2{grid-column: 1/2;grid-row: 2/4;}
    .itempecera_3{grid-column: 2/3;grid-row: 1/2;}
    .itempecera_4{grid-column: 2/3;grid-row: 2/4;}
    .itempecera_5{grid-column: 3/4;grid-row: 1/2;}
    .itempecera_6{grid-column: 3/4;grid-row: 2/4;}

}

@media screen and (min-width:992px) {
    .contenedor5{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,300px);
        grid-gap: 10px;
    }
    .itempecera_2,.itempecera_4,.itempecera_6{font-size: 23px;}
    .itempecera_1{grid-column: 1/2;grid-row: 1/2;}
    .itempecera_2{grid-column: 1/2;grid-row: 2/4;}
    .itempecera_3{grid-column: 2/3;grid-row: 1/2;}
    .itempecera_4{grid-column: 2/3;grid-row: 2/4;}
    .itempecera_5{grid-column: 3/4;grid-row: 1/2;}
    .itempecera_6{grid-column: 3/4;grid-row: 2/4;}

}
@media screen and (min-width:1200px) {
    .contenedor5{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,300px);
        grid-gap: 10px;
    }
    .itempecera_2,.itempecera_4,.itempecera_6{font-size: 25px;}
    .itempecera_1{grid-column: 1/2;grid-row: 1/2;}
    .itempecera_2{grid-column: 1/2;grid-row: 2/4;}
    .itempecera_3{grid-column: 2/3;grid-row: 1/2;}
    .itempecera_4{grid-column: 2/3;grid-row: 2/4;}
    .itempecera_5{grid-column: 3/4;grid-row: 1/2;}
    .itempecera_6{grid-column: 3/4;grid-row: 2/4;}

}





//CONTACTO
.formulario{
    margin-top:$texto_t5;
    margin-bottom:$texto_t5;
    .formulario1{
        background-image:linear-gradient(rgb(8, 8, 249),rgb(4, 195, 248));
        font-size: $texto_t2;
        border-radius: 10px;
    }

}

//SUCURSALES
.mapaN1{
    margin-top: $texto_t5;
    margin-bottom: $texto_t5;
    border-radius: $texto_t5;
    .mapaN2{
        background-image:linear-gradient(rgb(8, 8, 249),rgb(4, 195, 248));
        padding: $texto_t3;
        background-size: 70%;
        
    }
}
