* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-image: linear-gradient(to right bottom, rgba(25, 25, 25, 0.8), rgba(71, 25, 255, 0.8)), url("/Multimedia/imagenes_peces/fondo_peces.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-image: linear-gradient(rgba(13, 11, 11, 0.912), #808080) !important;
  margin-bottom: 50px;
}
.navbar .navbar-brand {
  font-size: 50px;
  margin-right: 40px;
  padding: 20px;
}
.navbar .navbar-collapse {
  font-size: 25px;
}
.navbar .navbar-collapse .nav-item {
  margin-right: 60px;
}

.nav-link:hover {
  color: #ffffff !important;
}

h1 span {
  color: rgba(69, 25, 244, 0.8);
}

.contenedor {
  height: 200px;
  border: 2px solid #808080;
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 0.7s;
  background-size: 90%;
}

.contenedor:hover {
  transform: scale(1.05);
}

.footer_home {
  height: 140px;
  width: 100%;
  margin-top: 50px;
  background-image: linear-gradient(rgba(13, 11, 11, 0.912), #808080);
}

.contenedor h1 {
  padding: 10px;
}
.contenedor p {
  padding: 10px;
}
.contenedor.cont0 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.contenedor.cont1, .contenedor.cont5, .contenedor.cont3 {
  background-image: url();
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
}
.contenedor.cont2, .contenedor.cont8, .contenedor.cont7, .contenedor.cont6, .contenedor.cont4 {
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 3px 6px #000000;
  font-size: 16px;
}
.contenedor.cont3 {
  background-image: url(/Multimedia/imagenes_peces/imagenes_pez_1/pez-dorado_250.png);
  margin-bottom: 30px;
  margin-top: 30px;
}
.contenedor.cont5 {
  background-image: url(/Multimedia/imagenes_peces/imagenes_pez_1/pez-volador_250.png);
  margin-bottom: 30px;
  margin-top: 30px;
}
.contenedor.cont8 {
  text-align: left;
}

.contenedor2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(12, 300px);
  background-size: cover;
  background-repeat: no-repeat;
}

.itempeces {
  background-color: #ffffff;
  margin-bottom: 40px;
  border: 3px solid #808080;
}

.item1 {
  background-image: url(/Multimedia/imagenes_peces/imagenes_pez_1/Corydoras_300.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item2 {
  font-size: 15px;
  text-align: center;
}

.item3 {
  background-image: url(/Multimedia/imagenes_peces/imagenes_pez_1/guppy_300.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.item4 {
  font-size: 15px;
  text-align: center;
}

.item5 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/Multimedia/imagenes_peces/imagenes_pez_1/neon-tetra_400.jpg);
}

.item6 {
  font-size: 15px;
  text-align: center;
}

.item7 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/Multimedia/imagenes_peces/imagenes_pez_1/pez-angel_400.jpg);
}

.item8 {
  font-size: 15px;
  text-align: center;
}

.item9 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/Multimedia/imagenes_peces/imagenes_pez_1/pez-betta-pecera_400.jpg);
}

.item10 {
  font-size: 15px;
  text-align: center;
}

.item11 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/Multimedia/imagenes_peces/imagenes_pez_1/camaron_1_300.jpg);
}

.item12 {
  font-size: 15px;
  text-align: center;
}

@media screen and (max-width: 576px) {
  .contenedor2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 300px);
  }
}
@media screen and (min-width: 576px) {
  .contenedor2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 300px);
    font-size: 12px;
  }
  .item1 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item6 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item7 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .item8 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item9 {
    grid-column: 2/3;
    grid-row: 5/6;
  }
  .item10 {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .item11 {
    grid-column: 2/3;
    grid-row: 6/7;
  }
  .item12 {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
.contenedor3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 400px);
  background-size: cover;
  background-repeat: no-repeat;
}

.item_1, .item_2, .item_3, .item_4, .item_5, .item_6 {
  font-size: 15px;
}

.item_1 h2, .item_2 h2, .item_3 h2, .item_4 h2, .item_5 h2, .item_6 h2 {
  text-align: center;
}

.item_1 ul, .item_2 ul, .item_3 ul, .item_4 ul, .item_5 ul, .item_6 ul {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .contenedor2 {
    grid-template-columns: 1fr 1fr 1fr;
    height: 320px;
    grid-gap: 20px;
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .item2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .item3 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .item5 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item8 {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .item9 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .item10 {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .item11 {
    grid-column: 3/4;
    grid-row: 3/4;
  }
  .item12 {
    grid-column: 3/4;
    grid-row: 4/5;
  }
}
.formulario {
  margin-top: 50px;
  margin-bottom: 50px;
}
.formulario .formulario1 {
  background-image: linear-gradient(rgb(8, 8, 249), rgb(4, 195, 248));
  font-size: 20px;
  border-radius: 10px;
}

.mapaN1 {
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}
.mapaN1 .mapaN2 {
  background-image: linear-gradient(rgb(8, 8, 249), rgb(4, 195, 248));
  padding: 30px;
  background-size: 70%;
}

/*# sourceMappingURL=estilos.css.map */
